h1{
    color: grey;
}
h2{
    color: green;
}

section ol{
 border: 2px solid black;
 padding-top: 10px;
 padding-bottom: 10px;
}

.container{
 display:flex;
 padding-left: 20px;
 justify-content: space-around;
 flex-direction: column;
}

#navbar{
 display:flex;
 justify-content: space-evenly;
 list-style: none;
 color: #ffffff;
 
}
.container_2{
    background-color: black;
    border-radius: 20px;
}
.grid{
    display:grid;
 justify-content: space-evenly;
 list-style: none;
 color: #ffffff; 
 grid-template-columns: 1fr 1fr 1fr;


}
@media(max-width:768px)
{
 #navbar{
  display:grid;
  grid-template-columns: 2fr  2fr;
  gap:10px;
 }
}









